<ns-action-bar title="Current challenge">
  <ActionItem
    android.position="actionBar"
    nsRouterLink="/challenges/replace"
  >
  <Label text="Replace"></Label>
  </ActionItem>
  <ActionItem
    android.position="actionBar"
    nsRouterLink="/challenges/edit"
  >
  <Label text="Edit"></Label>
  </ActionItem>  
</ns-action-bar>

<StackLayout>
      <Label text="Current challenge component">        
      </Label>      
     <Button
      text="Change status"
      (tap)="onChangeStatusTapped()"
      class="btn btn-primary"></Button>
</StackLayout>
