<ns-action-bar
  title="Login"
  [showBackButton]="false"
  [hasMenu]="false"
></ns-action-bar>
<StackLayout class="form" [formGroup]="form">
  <StackLayout class="input-field">
    <Label
      class="label"
      text="E-mail"
      [ngClass]="{invalid: form.get('email').errors}"
    ></Label>
    <TextField
      class="input"
      returnKeyType="next"
      keyboardType="email"                    
      [autocorrect]="false"
      autocaptalizationType="none"
      formControlName="email"
    ></TextField>
    <Label
      *ngIf="form.get('email').errors"
      class="label"
      text="Please enter valid email">
    </Label>
  </StackLayout>
  <StackLayout class="input-field">
    <Label
      [ngClass]="{invalid: form.get('password').errors}"
      class="label"
      text="Password"
    ></Label>
    <TextField
      class="input"
      returnKeyType="done"      
      required
      [autocorrect]="false"
      autocaptalizationType="none"
      [secure]="true"
      hint="Min 6 chrs"
      formControlName="password"
    ></TextField>    
    <Label
      *ngIf="form.get('password').errors"
      class="label"      
      text="Please enter valid password"
    ></Label>
  </StackLayout>
  <Button
    text="Login"
    class="btn btn-primary btn-rounded-lg" 
    [clearHistory]="true"
    [isEnabled]="form.valid"    
    (tap)="onSubmit()"
  ></Button>
</StackLayout>
