@import '../../../src/theme/colors';

.form{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input{
    border-bottom-width: 2;
    border-color: $primary;
}