Label {    
    border-width: 3;
    height: 50;     
    width: 50;
    color: white;    
    text-align: center;
}

FlexBoxLayout{
    border-color: green;
    border-width: 5;    
    height: 250;
    width: 300;
}

#id1{
    background: red;    
}

#id2{
    background: green;
}

#id3{
    background: blue;
}