<!--Assignment figure 1-->
<FlexboxLayout 
    flexDirection="row"
    justifyContent="space-between"
    alignItems="flex-start"
>
    <Label id="id1" text="A"></Label>
    <Label id="id2" text="B" alignSelf="flex-end"></Label>
    <Label id="id2" text="C"></Label>  
</FlexboxLayout>

<!--Assignment figure 2-->
<FlexboxLayout 
    flexDirection="column"
    justifyContent="space-around"
    alignItems="center"
>
    <Label id="id1" text="A"></Label>
    <Label id="id2" text="B"></Label>
    <Label id="id2" text="C"></Label>  
</FlexboxLayout>

<!--Assignment figure 3-->
<FlexboxLayout
    flexDirection="column"
    justifyContent="space-around"
    alignItems="stretch"
>
    <Label id="id1" text="A"></Label>
    <Label id="id2" text="B"></Label>     
</FlexboxLayout>
