Label {    
    border-width: 3;
    height:50;     
    width: 50;
    color: white;    
}

StackLayout{
    border-color: green;
    border-width: 5;
    padding: 10;
    height: 300;
}

#id1{
    background: red;    
}

#id2{
    background: green;
}

#id3{
    background: blue;
}